.sub_nav.clearfix
  .sub_nav_inner
    = link_to '首页', root_path, :class => "sub_menu"
    %span.separator
      = image_tag("arraw-right-white.png")

    = link_to '体育', root_path, :class => "sub_menu"
    %span.separator
      = image_tag("arraw-right-white.png")

    = link_to 'CBA', root_path, :class => "sub_menu"
    %span.separator
      = image_tag("arraw-right-white.png")

    = link_to '2013常规赛', root_path, :class => "sub_menu"
    %span.separator
      = image_tag("arraw-right-white.png")

    = link_to '球队', root_path, :class => "sub_menu"
    %span.separator
      = image_tag("arraw-right-white.png")
