.events_list
  .list_left_container
    %p
      xxx的活动列表
    .list_left_container
       %table
         %tr
           %td
            
           %td
           %td
  .right_nav
    %ul
      %li{:style => "height:50px;"}
      %li
        = image_tag("Selling-search-gray.png")
      %li
        = image_tag("Selling-enter-gray.png")
      %li
        = image_tag("Selling-price.png")
      %li
        = image_tag("Selling-gray.png")
      %li
        = image_tag("Selling-submit-gray.png")
      %li
