#options.clearfix
  .tip.option.fl
    请选择
  .fee.option.fl
    %a{:href => '#'}
      球票价格
      = image_tag("arraw-down-white.png")
  .count.option.fl
    %a{:href => '#'}
      球票数量
      = image_tag("arraw-down-white.png")
  .seat_section.option.fl
    %a{:href => '#'}
      座位分区
      = image_tag("arraw-down-white.png")
  .seat_feature.option.fl
    %a{:href => '#'}
      座位特点
      = image_tag("arraw-down-white.png")
  .deliver_type.option.fl
    %a{:href => '#'}
      配送方式
      = image_tag("arraw-down-white.png")
