.footer-menu
  .about-us.pull-left.span3
    %h3 关于我们
    %ul
      %li
        = link_to '我们的故事', root_path
      %li
        = link_to '我们的团队', root_path
      %li
        = link_to '就业机会', root_path
      %li
        = link_to '关于我们', root_path
  .general.pull-left.span3
    %h3 GENERAL
    %ul
      %li
        = link_to 'YOUR ACCOUNT', root_path
      %li
        = link_to 'DELIVERY OPTIONS', root_path
      %li
        = link_to 'REFUND POLICIES', root_path
      %li
        = link_to 'COMMON QUESTIONS', root_path
  .coverage.pull-left.span3
    %h3 OUR PROTECTION COVERAGE
.copy-right.clearfix
  COPY RIGHT (c) GoGo PIAO 2013
